[submodule "react/_docs/front_end_best_practices/react/bulletproof-react"]
	path = react/_docs/front_end_best_practices/react/bulletproof-react
	url = https://github.com/TechWithTy/bulletproof-react.git
